.fa-bars:before {
	content: "\f0c9";
}
.fa-browser:before {
	content: "\1f5d4";
}

.fa-cat:before {
	content: "\1f408";
}

.fa-cheese-swiss:before {
	content: "\1f9c0";
}

.fa-chevron-down:before {
	content: "\f078";
}

.fa-chevron-up:before {
	content: "\f077";
}

.fa-css3-alt:before {
	content: "\f38b";
}

.fa-cup-straw-swoosh:before {
	content: "\e364";
}

.fa-database:before {
	content: "\f1c0";
}

.fa-dharmachakra:before {
	content: "\2638";
}

.fa-display-code:before {
	content: "\e165";
}

.fa-facebook-f:before {
	content: "\f39e";
}

.fa-figma:before {
	content: "\f799";
}

.fa-file-pdf:before {
	content: "\f1c1";
}

.fa-gamepad-modern:before {
	content: "\1f3ae";
}

.fa-git-alt:before {
	content: "\f841";
}

.fa-github:before {
	content: "\f09b";
}

.fa-globe:before {
	content: "\1f310";
}

.fa-html5:before {
	content: "\f13b";
}

.fa-instagram:before {
	content: "\f16d";
}

.fa-java:before {
	content: "\f4e4";
}

.fa-js:before {
	content: "\f3b8";
}

.fa-linkedin-in:before {
	content: "\f0e1";
}

.fa-location-dot:before {
	content: "\f3c5";
}

.fa-message-quote:before {
	content: "\e1e4";
}

.fa-microphone::before {
	content: "\f130";
}

.fa-music:before {
	content: "\1f3b5";
}

.fa-node-js:before {
	content: "\f3d3";
}

.fa-npm:before {
	content: "\f3d4";
}

.fa-object-group:before {
	content: "\f247";
}

.fa-paint-roller:before {
	content: "\f5aa";
}

.fa-pen-ruler:before {
	content: "\f5ae";
}

.fa-python:before {
	content: "\f3e2";
}

.fa-square-question:before {
	content: "\f2fd";
}

.fa-square-terminal:before {
	content: "\e32a";
}

.fa-tiktok:before {
	content: "\e07b";
}

.fa-user:before {
	content: "\1f464";
}

.fa-users:before {
	content: "\f0c0";
}

.fa-xmark:before {
	content: "\d7";
}

@font-face {
	font-family: "Font Awesome 6 Pro";
	font-style: normal;
	font-weight: 300;
	font-display: block;
	src: url(../assets/font/fa-light-300.woff2) format("woff2");
}

@font-face {
	font-family: "Font Awesome 6 Pro";
	font-style: normal;
	font-weight: 900;
	font-display: block;
	src: url(../assets/font/fa-solid-900.woff2) format("woff2");
}

@font-face {
	font-family: "Font Awesome 6 Brands";
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url(../assets/font/fa-brands-400.woff2) format("woff2");
}

.fa-light {
	font-weight: 300;
}

.fa-regular {
	font-weight: 400;
}

.fa-solid {
	font-weight: 900;
}

.fa {
	font-family: "Font Awesome 6 Pro";
	font-family: var(--fa-style-family, "Font Awesome 6 Pro");
	font-weight: 900;
	font-weight: var(--fa-style, 900);
}

.fa,
.fa-brands,
.fa-light,
.fa-solid,
.fab {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	display: var(--fa-display, inline-block);
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	text-rendering: auto;
}

.fa-brands,
.fab {
	font-family: "Font Awesome 6 Brands";
	font-weight: 400;
}

.fa-solid,
.fa-light,
.fa-regular {
	font-family: "Font Awesome 6 Pro";
}
