.home {
    height: 100vh;
    padding: 200px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-text {
    z-index: 2;
}

.home-text h1 {
    font-size: 100px;
}

.home-text h2 {
    font-size: 60px;
}

.home-pic {
    position: absolute;
    z-index: 1;
    right: 200px;
}

.home-pic img {
    width: auto;
    height: auto;
}

@media only screen and (max-width: 1440px) {
    .home {
        flex-direction: column;
        padding: 100px 70px;
        text-align: center;
    }

    .home-text h1{
        font-size: 70px;
    }

    .home-text h2{
        font-size: 40px;
    }

    .home-pic {
        position: static;
    }
}

@media only screen and (max-width: 800px) {
    .home {
        justify-content: center;
    }

    .home-text h1{
        font-size: 64px;
    }

    .home-text h2{
        font-size: 30px;
    }

    .home-pic img {
        display: none;
    }
}

@media only screen and (max-width: 730px) {
    .home {
        justify-content: center;
        padding: 0px;
    }

    .home-text {
        text-align: left;
    }
}

@media only screen and (min-width: 1560px) {
    .home-pic {
        right: 280px;
    }
}

@media only screen and (min-width: 1730px) {
    .home-pic {
        right: 350px;
    }

    .home {
        padding-right: 100px;
        padding-left: 100px;
    }
}