body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100vh;
    overflow-y: hidden;
    user-select: none;
}

.text-wrapper {
    font-size: 130px;
    position: relative;
}

.text {
    color: #FFF9D2;
    margin-right: -20px;
    margin-left: -20px;
    text-align: center;
    text-decoration: none;
    position: relative;
    display: inline-block;
    letter-spacing: 10px;
    animation: wave 1.5s infinite;
    animation-delay: calc(.1s * var(--i));
}

@media only screen and (max-width: 700px) {
    .text-wrapper {
        font-size: 80px;
        letter-spacing: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .text-wrapper {
        font-size: 40px;
    }
}