header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.navbar-space {
    height: 100px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 2.5em;
    user-select: none;
    display: flex;
    align-items: center;
}

.logo-img {
    width: 95px;
    height: 95px;
    margin-right: 15px;
}

.logo-small {
    display: none;
    font-size: 2.5em;
    user-select: none;
    letter-spacing: 0.5rem;
}

.nav-name {
    width: 100%;
    background: 0;
    text-decoration: none;
    text-align: center;
    z-index: 5;
}

.nav-button {
    cursor: pointer;
    font-size: 1rem;
    line-height: 2.5rem;
    max-width: 160px; 
    width: 120px; 
    letter-spacing: 0.3rem;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    transition: all 1s ease-in;
    margin-right: 10px;
    margin-left: 10px;
}

.nav-button:hover {
    color: #E91E63;
}

.nav-button svg {
    height: 40px;
    left: 0;
    top: 0; 
    position: absolute;
    width: 100%; 
}

.nav-button rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 450, 0;
    transition: all 0.5s linear;
}

.nav-button:hover rect {
    stroke-width: 5;
    stroke-dasharray: 20, 239;
    stroke-dashoffset: 48;
    stroke: #E91E63;
    transition: all 2s cubic-bezier(0.22, 1, 0.25, 1);
}

@media only screen and (max-width: 1550px) {
    .logo {
        font-size: 2em;
    }
}

@media only screen and (max-width: 1340px) {
    .logo {
        display: none;
    }

    .logo-small {
        display: flex;
    }
}

@media only screen and (max-width: 1080px) {
    .logo-small {
        display: none;
    }

    header {
        justify-content: center;   
    }

    .navbar-space {
        height: 80px;
    }
}

@media only screen and (max-width: 750px) {
    .nav-button {
        margin: 0px;
    }
}

@media only screen and (max-width: 600px) {
    .nav-button {
        font-size: 0.7rem;
        width: 80px;
        letter-spacing: 0.1rem;
        font-weight: 100;
    }
    
    .nav-button:hover rect {
        stroke-dasharray: 20, 176;
    }
}