.resume-listing-content {
	--h: 250deg;
	--l: 43%;
	--brandColor: hsl(var(--h), 90%, var(--l));
	display: flex;
	justify-content: center;
}

.resume-listing-content p {
	line-height: 1.6;
}

.resume-listing-content ol {
	list-style: none;
	counter-reset: list;
	padding: 0 1rem;
}

.resume-listing-content li {
	--stop: calc(100% / var(--length) * var(--i));

	--col-h: hsl(var(--h), 71%, var(--l));
	--col-l: 88%;
	--c1: var(--col);
	--c2: hsl(var(--h), 71%, var(--col-l));

	position: relative;
	counter-increment: list;
	max-width: 50rem;
	margin: 2rem 0px;
	padding: 2rem 1rem 1rem;
	box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
	overflow: hidden;
	background-color: #F8E9A1;
}

.resume-listing-content li::before {
	content: "";
	display: block;
	width: 100%;
	height: 1rem;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(
		to right,
		var(--c1) var(--stop),
		var(--c2) var(--stop)
	);
}

.resume-listing-content h3 {
	display: flex;
	align-items: center;
	margin: 0 0 1rem;
	font-weight: 600;
	font-size: 24px;
}

.resume-listing-content h3::before {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
	margin-right: 1rem;
	padding: 1rem;
	border-radius: 50%;
	background-color: var(--c1);
	width: 1.5rem;
	height: 1.5rem;
}

.resume-list-title {
	display: flex;
	align-items: center;
}

.resume-list-title h3 {
	padding-left: 15px;
	margin-bottom: 0px;
}

@media (min-width: 40em) {
	.resume-listing-content li {
		margin: 3rem 0px;
		padding: 3rem 2rem 2rem;
	}

	.resume-listing-content h3 {
		margin: 0 0 2rem;
	}

	.resume-list-title h3 {
		margin: 0;
	}

	.resume-list-title {
		margin: 0 0 2rem;
	}

	.resume-listing-content h3::before {
		margin-right: 1.5rem;
	}
}

@media only screen and (max-width: 700px) {
	.resume-list-title h3 {
		font-size: 18px;
	}

	.resume-listing-content p {
		padding-top: 8px;
	}
}

@media only screen and (max-width: 560px) {
	.resume-list-title h3 {
		font-size: 14px;
	}

	.resume-listing-content p {
		font-size: 10px;
	}
}
