@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900');

.project-media-btn {
	background-color: #2A265F;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
    bottom: 15px;
	right: 30px;
	letter-spacing: 1px;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.project-media-btn:hover {
    transform: scale(1.1);
    background-color: hsl(244, 58%, 47%);
}

.project-media-btn:active {
    transform: scale(0.9);
    background-color: hsl(244, 58%, 30%);
}

@media only screen and (max-width: 480px) {
    .project-media-btn {
        right: 15px;
        font-size: 12px;
    }
}