@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");

.resume {
    height: 100vh;
    padding: 200px 40px;
}

.resume-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.resume-sub-title h2 {
    font-size: 48px;
    text-decoration: underline;
}

.resume-skill-content {
    padding-bottom: 100px;
}

.sub-skill {
    --color: rgba(30, 30, 30);
    display: grid;
    align-content: center;
    color: var(--color);
}

.resume-skill-content ul {
    --col-gap: 2rem;
    --barH: 1rem;
    --roleH: 2rem;
    --flapH: 2rem;

    display: flex;
    flex-wrap: wrap;

    gap: var(--col-gap);
    padding-inline: calc(var(--col-gap) / 2);

    justify-content: center;
    align-items: flex-start;
    list-style: none;
}

.resume-skill-content ul li {
    width: 10em;
    display: grid;
    grid-template:
        "role"
        "icon"
        "skill-list-title";
    align-items: flex-start;
    gap: 1rem;
    padding-block-end: calc(var(--flapH) + 1rem);
    text-align: center;
    background: var(--accent-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) var(--roleH),
            rgba(0, 0, 0, 0.4) calc(var(--roleH) + 0.5rem),
            rgba(0, 0, 0, 0) calc(var(--roleH) + 0.5rem + 5rem));
    clip-path: polygon(calc(var(--col-gap) / -2 - 5px) 0,
            calc(100% + var(--col-gap) / 2 + 5px) 0,
            calc(100% + var(--col-gap) / 2 + 5px) calc(100% - var(--flapH)),
            50% 100%,
            calc(var(--col-gap) / -2 - 5px) calc(100% - var(--flapH)));
}

.resume-skill-content ul li::before {
    content: "";
    grid-area: role;
    height: var(--barH);
    width: calc(100% + var(--col-gap));
    margin-left: calc(var(--col-gap) / -2);
    margin-top: calc(var(--roleH) / 2 - var(--barH) / 2);
    background: grey;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.2) 30%,
            rgba(255, 255, 255, 0.1) 40%,
            rgba(0, 0, 0, 0.1) 60%,
            rgba(0, 0, 0, 0.2) 70%,
            rgba(0, 0, 0, 0.4));
}

.resume-skill-content ul li::after {
    content: "";
    grid-area: role;
    background: var(--accent-color);
    background-image: linear-gradient(rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.2) 30%,
            rgba(255, 255, 255, 0.1) 40%,
            rgba(0, 0, 0, 0.1) 60%,
            rgba(0, 0, 0, 0.2) 70%,
            rgba(0, 0, 0, 0.4));
    height: var(--roleH);
    z-index: 1;
}

.resume-skill-content ul li .icon, .resume-skill-content ul li .skill-list-title {
    padding-inline: 1rem;
    color: white;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    background: var(--accent-color);
}

.resume-skill-content ul li .icon {
    font-size: 3rem;
}

.resume-skill-content ul li .skill-list-title {
    font-size: 1.25rem;
    font-weight: 700;
}

.resume-skill-content i {
    background-color: var(--accent-color);
}

.resume-skill-content h3 {
    text-align: center;
}

.skill-tech {
    padding-top: 50px;
}