.sub-skill {
    --color: rgba(30, 30, 30);
    display: grid;
    align-content: center;
    color: var(--color);
    user-select: none;
    margin-top: 20px;
}

.soft {
    padding-top:30px;
}

.resume-skill-content ul {
    --col-gap: 2rem;
    --barH: 1rem;
    --roleH: 2rem;
    --flapH: 2rem;

    display: flex;
    flex-wrap: wrap;

    gap: var(--col-gap);
    padding-inline: calc(var(--col-gap) / 2);

    justify-content: center;
    align-items: flex-start;
    list-style: none;
}

.resume-skill-content ul li {
    width: 10em;
    display: grid;
    grid-template:
        "role"
        "icon"
        "skill-list-title";
    align-items: flex-start;
    gap: 1rem;
    padding-block-end: calc(var(--flapH) + 1rem);
    text-align: center;
    background: var(--accent-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) var(--roleH),
            rgba(0, 0, 0, 0.4) calc(var(--roleH) + 0.5rem),
            rgba(0, 0, 0, 0) calc(var(--roleH) + 0.5rem + 5rem));
    clip-path: polygon(calc(var(--col-gap) / -2 - 5px) 0,
            calc(100% + var(--col-gap) / 2 + 5px) 0,
            calc(100% + var(--col-gap) / 2 + 5px) calc(100% - var(--flapH)),
            50% 100%,
            calc(var(--col-gap) / -2 - 5px) calc(100% - var(--flapH)));
}

.resume-skill-content ul li::before {
    content: "";
    grid-area: role;
    height: var(--barH);
    width: calc(100% + var(--col-gap));
    margin-left: calc(var(--col-gap) / -2);
    margin-top: calc(var(--roleH) / 2 - var(--barH) / 2);
    background: grey;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.2) 30%,
            rgba(255, 255, 255, 0.1) 40%,
            rgba(0, 0, 0, 0.1) 60%,
            rgba(0, 0, 0, 0.2) 70%,
            rgba(0, 0, 0, 0.4));
}

.resume-skill-content ul li::after {
    content: "";
    grid-area: role;
    background: var(--accent-color);
    background-image: linear-gradient(rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.2) 30%,
            rgba(255, 255, 255, 0.1) 40%,
            rgba(0, 0, 0, 0.1) 60%,
            rgba(0, 0, 0, 0.2) 70%,
            rgba(0, 0, 0, 0.4));
    height: var(--roleH);
    z-index: 1;
}

.skill-tech {
    padding-top: 50px;
}

.resume-listing-content {
    --h: 212deg;
	--l: 43%;
	--brandColor: hsl(var(--h), 71%, var(--l));
    display: flex;
    justify-content: center;
}

.resume-listing-content p {
	line-height: 1.6;
    background: hsl(216, 50%, 24%);
}

.resume-listing-content ol {
	list-style: none;
	counter-reset: list;
	padding: 0 1rem;
}

.resume-listing-content li {
	--stop: calc(100% / var(--length) * var(--i));

	--col-h: hsl(var(--h), 71%, var(--l));
    --col-l: 88%;
    --c1: var(--col);
    --c2: hsl(var(--h), 71%, var(--col-l));

	position: relative;
	counter-increment: list;
	max-width: 50rem;
	margin: 2rem 0px;
	padding: 2rem 1rem 1rem;
	box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
	border-radius: 0.3rem;
	overflow: hidden;
	background-color: hsl(216, 50%, 24%);
}

.resume-listing-content li::before {
	content: '';
	display: block;
	width: 100%;
	height: 1rem;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to right, var(--c1) var(--stop), var(--c2) var(--stop));
}

.resume-listing-content h3 {
    background: hsl(216, 50%, 24%);
	display: flex;
	align-items: center;
	margin: 0 0 1rem;
    font-weight: 600;
    font-size: 24px;
}

.resume-listing-content h3::before {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
	margin-right: 1rem;
	padding: 1rem;
	border-radius: 50%;
	background-color: var(--c1);
	color: white;
}

.resume-listing-content h3::before {
	width: 1.5rem;
	height: 1.5rem;
}

.resume-list-title {
    display: flex;
    align-items: center;
    background-color: hsl(216, 50%, 24%);
}

.resume-list-title h3 {
    padding-left: 15px;
    margin-bottom: 0px;
}

.resume-list-title img {
    width: 3rem;
	height: 3rem;
    border-radius: 50%;
    background-color: white;
}

@media (min-width: 40em) {
	.resume-listing-content li {
		margin: 3rem 0px;
		padding: 3rem 2rem 2rem;
	}
	
	.resume-listing-content h3 {
		margin: 0 0 2rem;
	}

    .resume-list-title h3 {
        margin: 0;
    }
	
    .resume-list-title {
        margin: 0 0 2rem;
    }

	.resume-listing-content h3::before {
		margin-right: 1.5rem;
	}
}

@media only screen and (max-width: 700px) {
    .resume-list-title h3 {
        font-size: 18px;
    }

    .resume-listing-content p {
        padding-top: 8px;
    }
}

@media only screen and (max-width: 560px) {
    .resume-list-title h3 {
        font-size: 14px;
    }

    .resume-listing-content p {
        font-size: 10px;
    }
}