* {
    margin: 0px;
    padding: 0px;
    font-family: 'Oregon LDO Regular';
    box-sizing: border-box;
    background-color: #17273D;
    color: white;
}

@keyframes textclip {
    to {
      background-position: 200% center;
    }
}

@keyframes wave {
    0%, 40%, 100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-70px);
    }
}