@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
	margin: 0px;
	padding: 0px;
	font-family: "Poppins";
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
li {
	user-select: none;
}

.ellipsis-text {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: horizontal;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
}

html,
body {
	overflow-x: hidden !important;
	width: 100%;
}

.gradient-text {
	background-image: linear-gradient(
		-225deg,
		#f8e9a1 0%,
		#f76c6c 20%,
		#a8d0e6 40%,
		#a8d0e6 60%,
		#f76c6c 80%,
		#f8e9a1 100%
	);
	background-size: 200% auto;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 3s linear infinite;
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}
